/* 
RESET
based on http://meyerweb.com/eric/tools/css/reset/ reset script
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
END of RESET;
*/

body { 
	/*font-family: "Droid Serif",Georgia,"Times New Roman",Times,serif;*/
	font-family: trebuchet ms,arial,sans-serif;
	font-size:16px;
	background-color:#CCC;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans",Arial,Helvetica,sans-serif;
    font-weight: 400;
}

img { border:0px;}

.transparent {opacity:0;}
.opaque {opacity:1;}
.clearfix {clear:both;}
.txt-r{text-align: right;}

h1.page-title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2px;
    text-transform: uppercase;
	padding: 32px 0;
	text-shadow: 2px 2px 2px #5A5F14;
}

#logo {
	position:relative;
	width:497px;

	-moz-opacity:.75; filter:alpha(opacity=75); opacity:.75;
	z-index:200;
}
#content{
	position: relative;
	margin-top:60px;
	margin-left:60px;
	margin-right: 364px;
	color:#fff;
	z-index: 100;
}
#content a {
}
#footer{
	position: relative;
	color:#fff;
	margin: 64px 364px 64px 60px;
	z-index: 101;
}
#footer p{
	margin:0;
	padding:0;
}

#footer .f-admin { color:#fff; text-decoration:none; cursor:pointer; }
#footer .f-admin:hover { color:#5A6F14;}

#footer .f-nav { color:#fff; text-decoration:none; cursor:pointer; }
#footer .f-nav:hover { color:#5A6F14;}


.ap {
	color: #FFFFFF;
    line-height: 140%;
	background: rgba(42,42,42,0.50);
	padding: 32px;
	text-shadow: rgba(0,0,0, .8) 1px 1px 1px;

	-webkit-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	-moz-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	-o-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
}

.ap ul{
	list-style: disc outside none;
	padding: 20px 10px 20px 40px;
}
pre{
	font-family: monospace;
	letter-spacing: -1px;
	border: 1px solid #999;
	padding: 10px;
	margin: 10px;
}
#affiliation {
	position: fixed;
	z-index: 100;
	bottom:15px;
	right:0px;
	width:240px;
	color:#fff;
	padding:0 0 0 32px;
	overflow:visible;
	background-color: #FFF;
	-moz-opacity:.75; filter:alpha(opacity=75); opacity:.75;

	-webkit-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	-moz-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	-o-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
}
#contact {
	position: fixed;
	z-index: 100;
	top:15px;
	right:0px;
	width:240px;
	color:#fff;
	padding:16px 0 20px 32px;
	overflow:visible;

	background: rgba(42,42,42,0.50);
	text-shadow: rgba(0,0,0, .8) 1px 1px 1px;
	
	-webkit-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	-moz-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	-o-box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
	box-shadow: rgba(0,0,0, .42) 6px 6px 4px;
}
#contact-me, #contact-me-ico{
	display:block;
}
#contact-me-ico{
	position:absolute;
	bottom: -16px;
}
#contact span{
	font-weight:bold;
}
#contact-lk {
	text-decoration:none;
	color:#5A6F14;
	font-weight:bold;
	text-shadow: rgba(0,0,0, .8) 1px 1px 1px;
	
	-webkit-transition: background-color .25s ease, color .25s ease, width .2s ease-out, -webkit-box-shadow .25s ease, text-shadow .2s ease, opacity .2s ease;
	-moz-transition: background-color .25s ease, color .25s ease, width .2s ease-out, -webkit-box-shadow .25s ease, text-shadow .2s ease, opacity .2s ease;
	-o-transition: background-color .25s ease, color .25s ease, width .2s ease-out, -webkit-box-shadow .25s ease, text-shadow .2s ease, opacity .2s ease;
	transition: background-color .25s ease, color .25s ease, width .2s ease-out, -webkit-box-shadow .25s ease, text-shadow .2s ease, opacity .2s ease;
}
#contact-lk:hover,
#contact-lk:focus {
	color:#ff8ff0;
	text-shadow: rgba(0,0,0, .8) 2px 2px 2px;
	
	-webkit-transition: background-color .25s ease, color .25s ease, width .2s ease-out, -webkit-box-shadow .25s ease, text-shadow .2s ease, opacity .2s ease;
	-moz-transition: background-color .25s ease, color .25s ease, width .2s ease-out, -webkit-box-shadow .25s ease, text-shadow .2s ease, opacity .2s ease;
	-o-transition: background-color .25s ease, color .25s ease, width .2s ease-out, -webkit-box-shadow .25s ease, text-shadow .2s ease, opacity .2s ease;
	transition: background-color .25s ease, color .25s ease, width .2s ease-out, -webkit-box-shadow .25s ease, text-shadow .2s ease, opacity .2s ease;
}
#contact small { position:absolute; left:0px; top:8px; font-size:11px; display:block; }
#contact .soc { float:right; display:block; }
.contact-ico{
	margin:0 8px 0 0;
}
#contact a {
	text-decoration:none;
	color:#5A6F14;
	font-weight:bold
}
#bg-wrapper {
	position:fixed;
	display:block;
	width: 100%;
	height: 100%;
	left:0px;
	top:0px;
	z-index:1;
}
.bg-pad{
	position:absolute;
	width:100%;
	height:100%; 
	left:0px;
	top:0px; 
}
#loading { position:absolute; left:60px; bottom:20px; background-image:url(images/xxx.gif); width:18px; height:4px;
	z-index:9999; display:block;
}
#menu-pad {
	position:fixed;
	width:240px;
	height:308px;
	overflow:visible;
	display:block;
	right:0;
	top:33%;
	z-index: 300;
}
#label p {
	font-weight:normal;
	font-size:21px;
	letter-spacing:-1px;
	text-transform:uppercase;
	padding:38px 0px 10px 17px;
	color:#fff;
}

#menu {
	display:block;
	z-index:10;
	list-style:none;
	font-weight:bold;
	font-size:24px;
	letter-spacing:-1px;
	text-transform:uppercase;
	padding-top:0;
	color:#fff;
}
	
.no-sel { color:#fff; text-decoration:none; cursor:pointer; }
.no-sel:hover { color:#5A6F14;}
.sel { color:#FFF; text-decoration:none; }

#menu li {
	display:block;
	height:38px;
	overflow:visible;
	width: 240px;
}
#menu li.sel{
	background-color: #5A5F14;
}

#about {
}
.h2-content{
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0;
    text-transform: uppercase;
}
.ap h3{
    font-size: 18px;
    font-weight: bold;
    padding: 6px 0;
    text-transform: uppercase;
}

.space-before-m{
	padding-top:48px;
}


.m-pad {
    line-height: 38px;
	margin:8px;
	border: 3px solid #FFFFFF;
	padding: 0 0 0 6px;
	background: rgba(42,42,42,0.50);
}

.breadcrumb{
	height: 24px;
	margin: 0 0 6px 0;
}
.breadcrumb-item{
	float:left;
}
.breadcrumb-item a{
    background: none repeat scroll 0 0 #161E21;
    border-radius: 12px;
    color: #FFFFFF;
    letter-spacing: normal;
    padding: 4px 12px;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}
